*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
/* nav */

nav{
    background-color: rgb(255, 157, 0);
    box-shadow: 1px 1px 10px black;

}
.row_nav{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.col_nav{
    width: calc(100% / 3 - 20px);
    margin: 10px auto;
    padding: 10px;
    font-weight: 800;
}


#logo{
    width: 40%;
    
}


/* nav items */

.row_items{
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    
    
}


/* main */

main{
    width: 70%;
    margin: auto;
    margin-bottom: 450px;
}

.row_main{
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    

}

.col_main{
    width: calc(100% / 3 - 20px);
    margin:10px;
    margin-top: 50px;
    position: relative;

}

img{
    width: 100%;
}
strong{
    display: block;
}

.marchio{
    font-size: 11px;
}
.sconto{
    color: red;
    font-size: 12px;
    font-weight: 800;
}
.prezzo{
    text-decoration: line-through;
    font-size: 13px;
}

.redbox{
    background-color: red;
    left:0;
 
}
.greenbox{
    background-color: green;
    left:43px;
    
}
.greenbox2{
    background-color: green;
    left:0;
    
}
.box{
    display: inline-block;
    color: white;
    padding: 2px 7px;
    position: absolute;
    top: 440px;
    font-size: 12px;
    font-weight: 800;

}
.heart{
    position: absolute;
    top: 5px;
    right:0;
    background-color: white;
    padding:10px;
}

/* footer */

footer{
    background-color: black;
}

.row_foot{
    display: flex;
    color:white;
    
}

.col_foot{
    width: calc(100% / 2);
}

a{
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding-top: 8px;
}

.info{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.booleando{
    padding-top: 20px;
    font-size: 20px;
}

.info2{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.loghi{
    display: flex;
    gap: 7px;
    justify-content: flex-end;
    margin-top: 5px;

}



/* linea */

.hr{
    color: white;
    padding-bottom: 10px;
    
}

.linea{
    background-color: black;
}