*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.row_nav{
    background-color: rgb(249, 108, 56);
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 2px black;
    border-bottom: 2px;
}
.col_nav{
    width: calc(100% / 3 - 20px);
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    font-weight: 800;
}

.col1_nav{
    padding-left: 135px;
}

#logo{
    width: 25%;
    
}

/* nav items */

.row_items{
    display: flex;
    justify-content: center;
    gap: 7px;
    
    
}


/* main */

main{
    width: 70%;
    margin: auto;
   
    

}

.row_main{
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    

}

.col_main{
    width: calc(100% / 3 - 20px);
    border: 2px dashed black;
    margin:10px;
    margin-top: 50px;

}


/* footer */

.row_foot{
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: black;
    color:white;
}